<div class="flex">

  <div  class="element" >

    <form   [formGroup]="formBuilder">
      @for (fieldItem of jsonForm; track fieldItem) {
        <div class="form-row">
          <div>
            @switch (fieldItem.type) {
              @case ('textbox') {
                <label [for]="fieldItem.name" >{{fieldItem.name}}</label> <br>
                <input [style]="{'border-color': fieldItem.border.color, 'border-width': fieldItem.border.size}" (focus)="selectCurrentField(fieldItem)" [name]="fieldItem.name" [placeholder]="fieldItem.placeholder" [formControlName]="fieldItem.name" [id]="fieldItem.id" type="text">
              }
              @case ('textarea') {
                <label [for]="fieldItem.name" >{{fieldItem.name}}</label> <br>
                <textarea [style]="{'border-color': fieldItem.border.color, 'border-width': fieldItem.border.size}" (focus)="selectCurrentField(fieldItem)" [name]="fieldItem.name" [rows]="fieldItem.rows" [cols]="fieldItem.cols" [formControlName]="fieldItem.name" [id]="fieldItem.id" ></textarea>
              } 

              @case ('button') {
                <button [style]="{'border-color': fieldItem.border.color, 'border-width': fieldItem.border.size}" (focus)="selectCurrentField(fieldItem)"  type="button" [name]="fieldItem.name"  [id]="fieldItem.id" >{{ fieldItem.caption }}</button>
              } 
              
            }
          </div>
        </div>
      }
     
    </form>
  </div>

  <div class="element">

    <form [formGroup]="currentField.currentFieldForm" >
      <div>
      <label for="name" >Name</label>
      <input type="text"  formControlName="name" />

      @if (currentField.currentFieldForm.controls['name'].dirty &&currentField.currentFieldForm.controls['name'].errors?.['required']) {
        <span style="color:red" >.name is required</span>
      }
      @if (currentField.currentFieldForm.controls['name'].dirty &&currentField.currentFieldForm.controls['name'].hasError('minlength') ) {
        <span style="color:red" >.minLength is 5</span>
      }
      @if (currentField.currentFieldForm.controls['name'].dirty &&currentField.currentFieldForm.controls['name'].hasError('maxlength') ) {
        <span style="color:red" >.maxLength is 10</span>
      }
    </div>

    <div>
      <label for="id" >Id</label>
      <input type="text" formControlName="id"  [readOnly]="true" />

      @if (currentField.currentFieldForm.controls['id'].dirty &&currentField.currentFieldForm.controls['id'].errors?.['required']) {
        <span style="color:red" >.id is required</span>
      }
    </div>

    <div>
      <label for="borderColor" >Border Color</label>
      <input type="text" name="borderColor" formControlName="borderColor"  />
    </div>


    <div>
      <label for="borderSize" >Border Size</label>
      <input type="text" name="borderSize" formControlName="borderSize"   />
    </div>

    @if (currentField.type=="textbox") {
      <div>
        <label for="placeholder" >Placeholder</label>
        <input type="text" formControlName="placeholder" />
      </div>
    }

    @if (currentField.type=="button") {
      <div>
        <label for="caption" >Caption</label>
        <input type="text" formControlName="caption" />
      </div>
    }
    @if (currentField.type=="textarea") {
      <div>
        <label for="rows" >rows</label>
        <input type="number" formControlName="rows" />
      </div>
      <div>
        <label for="cols" >cols</label>
        <input type="number" formControlName="cols" />
      </div>
    }
    </form>
  </div>


</div>